<div id="sidebar">
    <header>
      <{% if page.layout == "index" %}h1{% else %}div{% endif %} class="site-title">
        <a href="{{ site.baseurl }}/">
          {% unless page.url == "/" %}
            <span class="back-arrow icon">{% include svg/back-arrow.svg %}</span>
          {% endunless %}
          Max Haubenstock
        </a>
      </{% if page.layout == "index" %}h1{% else %}div{% endif %}>
      <p id="subtitle" class="lead"></p>
    </header>
    {% include sidebar-nav-links.html %}
  
  </div>
  <script>
    function random(num) {
      return Math.floor(Math.random()*num);
    }

    function getSubtitle() {
        var subtitle = subtitles[random(subtitles.length)]
        var pubTime = Date.parse(subtitle.date);
        if (subtitle.timeSensitive || pubTime > Date.now()) {
            return getSubtitle();
        }
        return subtitle;
    }

    function getMostRecentSubtitle() {
      for(var i = 0; i < subtitles.length; i++) {
        var subtitle = subtitles[i];
        var pubTime = Date.parse(subtitle.date);
        if (Date.now() > pubTime) {
          return subtitle;
        }
      }
      return subtitles[subtitle.length - 1];
    }

    var subtitle = (location.pathname === "/")
       ? getMostRecentSubtitle()
       : getSubtitle();
    
    subtitle = location.pathname === '/south-florida-mics/' ? {tag: "Book me"} : subtitle;
    document.getElementById('subtitle').innerHTML = subtitle.tag;
  </script>
