<div id="sidebar">
    <header>
      <{% if page.layout == "index" %}h1{% else %}div{% endif %} class="site-title">
        <a href="{{ site.baseurl }}/">
          {% unless page.url == "/" %}
            <span class="back-arrow icon">{% include svg/back-arrow.svg %}</span>
          {% endunless %}
          Haubey
        </a>
      </{% if page.layout == "index" %}h1{% else %}div{% endif %}>
      <p id="subtitle" class="lead"></p>
    </header>
    {% include sidebar-nav-links.html %}
  
    {% include sidebar-icon-links.html %}
  </div>
  <script>
    subtitles = [
      'Bake at 350&deg; for 30 minutes, then serve with a nice Chianti',
      'Relentlessly on brand',
      'A chicken in every pot, and a new tagline every day.',
      'Now with less functionality',
      'Only twelve years too late',
      'Doing this on the cheap'
    ]
    function random(num) {
      return Math.floor(Math.random()*num);
    }
    var subtitle = (location.pathname === "/" || location.pathname === "/comics/")
       ? subtitles[0] 
       : subtitles[random(subtitles.length)];
    document.getElementById('subtitle').innerHTML = subtitle;
  </script>
